.UserDetail-category-title {
  top: 20px;
  left: 20px;
  bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.UserDetail-contact-detail {
  font-size: 14px;
}

.UserDetail-note {
  padding: 20px;
}